secretStoreRef:
  name: {{ .Values.secretStore.name | quote }}
  kind: ClusterSecretStore
refreshInterval: {{ .Values.secretStore.refreshInterval | quote }}
clusterSecretStore:
  enabled: true
  name: {{ .Values.secretStore.name | quote }}
  provider:
    gcpsm:
      projectID: {{ .Values.gcp.projectId | quote }}
      auth:
        workloadIdentity:
          clusterLocation: {{ .Values.gcp.region | quote }}
          clusterName: {{ .Values.gcp.clusterName | quote }}
          serviceAccountRef:
            name: {{ .Values.secretStore.serviceAccountName | quote }}
            namespace: {{ .Values.namespaces.externalSecrets | quote }}
secrets:
  - name: docker-io-credentials
    enabled: true
    secretType: kubernetes.io/dockerconfigjson
    namespaces:
      - {{ .Values.namespaces.platform }}
      - {{ .Values.namespaces.openworkflow }}
      - {{ .Values.namespaces.keycloak }}
      - {{ .Values.namespaces.registry }}
      - {{ .Values.namespaces.openSearch }}
      - {{ .Values.namespaces.modelServing }}
      - {{ .Values.namespaces.docling }}
      - {{ .Values.namespaces.superset }}
    remoteRefs:
      - secretKey: .dockerconfigjson
        remoteKey: {{ .Values.secretStore.remoteKeys.dockerConfig | quote }}
  - name: {{ .Values.identity.databaseSecret }}
    enabled: true
    namespaces: [{{ .Values.namespaces.keycloak }}]
    remoteRefs:
      - {secretKey: KC_DB_USERNAME, remoteKey: {{ .Values.secretStore.remoteKeys.keycloakDatabaseUsername | quote }}}
      - {secretKey: KC_DB_PASSWORD, remoteKey: {{ .Values.secretStore.remoteKeys.keycloakDatabasePassword | quote }}}
      - {secretKey: KC_DB_URL, remoteKey: {{ .Values.secretStore.remoteKeys.keycloakDatabaseUrl | quote }}}
  - name: {{ .Values.identity.adminSecret }}
    enabled: true
    namespaces: [{{ .Values.namespaces.keycloak }}]
    remoteRefs:
      - {secretKey: KEYCLOAK_ADMIN, remoteKey: {{ .Values.secretStore.remoteKeys.keycloakAdminUsername | quote }}}
      - {secretKey: KEYCLOAK_ADMIN_PASSWORD, remoteKey: {{ .Values.secretStore.remoteKeys.keycloakAdminPassword | quote }}}
  - name: {{ .Values.identity.bootstrapSecret }}
    enabled: true
    namespaces: [{{ .Values.namespaces.keycloak }}]
    remoteRefs:
      - {secretKey: password, remoteKey: {{ .Values.secretStore.remoteKeys.keycloakBootstrapPassword | quote }}}
  - name: {{ .Values.identity.clientSecret }}
    enabled: true
    namespaces: [{{ .Values.namespaces.keycloak }}]
    remoteRefs:
      - {secretKey: FORWARDMEASURE_ADMIN_CONFIDENTIAL_CLIENT_SECRET, remoteKey: {{ .Values.secretStore.remoteKeys.keycloakConfidentialClientSecret | quote }}}
      {{- range $index, $client := .Values.identity.serviceClients }}
      - secretKey: {{ required (printf "identity.serviceClients[%d].secretKey is required" $index) $client.secretKey | quote }}
        remoteKey: {{ required (printf "identity.serviceClients[%d].secretRemoteKey is required" $index) $client.secretRemoteKey | quote }}
      {{- end }}
  - name: {{ .Values.identity.openworkflowCredentialsSecret }}
    enabled: true
    namespaces: [{{ .Values.namespaces.openworkflow }}]
    remoteRefs:
      - {secretKey: KC_BOOTSTRAP_ADMIN_USERNAME, remoteKey: {{ .Values.secretStore.remoteKeys.keycloakAdminUsername | quote }} }
      - {secretKey: KC_BOOTSTRAP_ADMIN_PASSWORD, remoteKey: {{ .Values.secretStore.remoteKeys.keycloakAdminPassword | quote }} }
      - {secretKey: OPENWORKFLOW_CLIENT_SECRET, remoteKey: {{ .Values.secretStore.remoteKeys.keycloakConfidentialClientSecret | quote }} }
  - name: huggingface-token
    enabled: true
    namespaces: [{{ .Values.namespaces.modelServing }}, {{ .Values.namespaces.docling }}]
    remoteRefs:
      - {secretKey: token, remoteKey: {{ .Values.secretStore.remoteKeys.huggingFaceToken | quote }}}
  - name: superset-env
    enabled: true
    namespaces: [{{ .Values.namespaces.superset }}]
    remoteRefs:
      - {secretKey: SUPERSET_SECRET_KEY, remoteKey: {{ .Values.secretStore.remoteKeys.supersetSecretKey | quote }}}
      - {secretKey: SQLALCHEMY_DATABASE_URI, remoteKey: {{ .Values.secretStore.remoteKeys.supersetDatabaseUri | quote }}}
      - {secretKey: DB_HOST, remoteKey: {{ .Values.secretStore.remoteKeys.supersetDatabaseHost | quote }}}
      - {secretKey: DB_PORT, remoteKey: {{ .Values.secretStore.remoteKeys.supersetDatabasePort | quote }}}
      - {secretKey: DB_NAME, remoteKey: {{ .Values.secretStore.remoteKeys.supersetDatabaseName | quote }}}
      - {secretKey: DB_USER, remoteKey: {{ .Values.secretStore.remoteKeys.supersetDatabaseUsername | quote }}}
      - {secretKey: DB_PASS, remoteKey: {{ .Values.secretStore.remoteKeys.supersetDatabasePassword | quote }}}
      - {secretKey: ADMIN_USERNAME, remoteKey: {{ .Values.secretStore.remoteKeys.supersetAdminUsername | quote }}}
      - {secretKey: ADMIN_PASSWORD, remoteKey: {{ .Values.secretStore.remoteKeys.supersetAdminPassword | quote }}}
      - {secretKey: ADMIN_EMAIL, remoteKey: {{ .Values.secretStore.remoteKeys.supersetAdminEmail | quote }}}
      - {secretKey: OIDC_CLIENT_SECRET, remoteKey: {{ .Values.secretStore.remoteKeys.keycloakConfidentialClientSecret | quote }}}
      - {secretKey: REDIS_PASSWORD, remoteKey: {{ .Values.secretStore.remoteKeys.valkeyPassword | quote }}}
  - name: valkey-auth
    enabled: true
    namespaces: [{{ .Values.namespaces.valkey }}]
    remoteRefs:
      - {secretKey: password, remoteKey: {{ .Values.secretStore.remoteKeys.valkeyPassword | quote }}}
