#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
repositories:
  - name: forwardmeasure
    url: https://forwardmeasure.github.io/helm-charts
  - name: strimzi
    url: https://strimzi.io/charts

releases:
  - name: strimzi-operator
    namespace: {{ .Values.namespaces.strimzi }}
    chart: strimzi/strimzi-kafka-operator
    version: {{ .Values.chartVersions.strimzi | quote }}
    labels: {stage: messaging, component: kafka-operator}
    values:
      - ../releases/strimzi-operator/base.yaml.gotmpl

  - name: kafka
    namespace: {{ .Values.namespaces.kafka }}
    chart: forwardmeasure/kafka
    version: {{ .Values.chartVersions.kafka | quote }}
    labels: {stage: messaging, component: kafka}
    needs: [{{ .Values.namespaces.strimzi }}/strimzi-operator]
    values:
      - ../releases/kafka/base.yaml.gotmpl

  - name: registry-topics
    namespace: {{ .Values.namespaces.kafka }}
    chart: ../charts/platform-bootstrap
    labels: {stage: messaging, component: registry-topics}
    needs: [{{ .Values.namespaces.kafka }}/kafka]
    values:
      - ../releases/registry-topics/base.yaml.gotmpl

  - name: apicurio-registry-operator
    namespace: {{ .Values.namespaces.registry }}
    chart: forwardmeasure/apicurio-registry-operator
    version: {{ .Values.chartVersions.apicurioOperator | quote }}
    labels: {stage: messaging, component: registry-operator}
    values:
      - ../releases/apicurio-registry-operator/base.yaml.gotmpl

  - name: apicurio-registry
    namespace: {{ .Values.namespaces.registry }}
    chart: forwardmeasure/apicurio-registry-deployment
    version: {{ .Values.chartVersions.apicurioDeployment | quote }}
    labels: {stage: messaging, component: registry}
    needs:
      - {{ .Values.namespaces.registry }}/apicurio-registry-operator
      - {{ .Values.namespaces.kafka }}/registry-topics
    values:
      - ../releases/apicurio-registry/base.yaml.gotmpl
