#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
repositories:
  - name: valkey
    url: https://valkey.io/valkey-helm
  - name: superset
    url: https://apache.github.io/superset

{{- $cloud := .Values | get "cloudProvider" "" }}

releases:
  - name: valkey
    namespace: {{ .Values.namespaces.valkey }}
    chart: valkey/valkey
    version: {{ .Values.chartVersions.valkey | quote }}
    labels: {stage: analytics, component: cache}
    values:
      - ../releases/valkey/base.yaml.gotmpl

  - name: superset
    namespace: {{ .Values.namespaces.superset }}
    chart: superset/superset
    version: {{ .Values.chartVersions.superset | quote }}
    labels: {stage: analytics, component: superset}
    values:
      - ../releases/superset/base.yaml.gotmpl
    {{- if eq $cloud "gcp" }}
      - ../releases/superset/gcp/base.yaml.gotmpl
    {{- end }}
