releases:
  - name: forwardmeasure-platform-dashboard
    namespace: {{ .Values.namespaces.platform }}
    chart: ../charts/platform-dashboard
    labels: {stage: dashboard, component: platform-dashboard}
    values:
      - ../releases/platform-dashboard.yaml.gotmpl
