{{- /*
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements. See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License. You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/ -}}
{{- /* Preserve the operator-owned credential layer. Generated client and review secrets are composed here,
not copied into gitignored files. Rendering this file intentionally requires Secret Manager access. */ -}}
{{- $cluster := rest (splitList "-" .Environment.Name) | join "-" -}}
{{- $settings := tpl (readFile (printf "%s.credentials.yaml.gotmpl" $cluster)) . | fromYaml -}}
{{- $store := index $settings "clusterSecretStore" | default dict -}}
{{- $provider := index $store "provider" | default dict -}}
{{- if hasKey $provider "fake" -}}
{{- $reviewKey := .Values.secretStore.remoteKeys.openworkflowHumanTaskReviewSecret -}}
{{- $keys := list $reviewKey -}}
{{- range $name, $client := .Values.platform.identity.serviceClients -}}
{{- $keys = append $keys $client.secretRemoteKey -}}
{{- end -}}
{{- $data := list -}}
{{- range $entry := $provider.fake.data -}}
{{- if not (has $entry.key $keys) }}{{ $data = append $data $entry }}{{ end -}}
{{- end -}}
{{- range $name, $client := .Values.platform.identity.serviceClients -}}
{{- if $client.enabled -}}
{{- $secret := fetchSecretValue (printf "ref+gcpsecrets://%s/%s-%s" $.Values.platform.cloud.gcp.projectId $.Values.platform.cloud.gcp.clusterName $client.secretRemoteKey) -}}
{{- $data = append $data (dict "key" $client.secretRemoteKey "value" $secret) -}}
{{- end -}}
{{- end -}}
{{- $reviewSecret := fetchSecretValue (printf "ref+gcpsecrets://%s/%s-%s" $.Values.platform.cloud.gcp.projectId $.Values.platform.cloud.gcp.clusterName $reviewKey) -}}
{{- $data = append $data (dict "key" $reviewKey "value" $reviewSecret) -}}
{{- $_ := set $provider.fake "data" $data -}}
{{- end -}}
{{ toYaml $settings }}
