#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# Overrides apicurio-registry-operator-helm-chart's own hardcoded image
# defaults - see environments/image-versions.yaml's imageVersions.apicurio*
# entries, the actual place to bump these going forward. image.reference is
# one combined repo:tag string (not this repo's usual {repository, tag,
# digest} object convention), because the chart itself was never written to
# accept that shape.
image:
  reference: {{ printf "%s:%s" .Values.imageVersions.apicurioOperator.repository .Values.imageVersions.apicurioOperator.tag | quote }}

registryImages:
  app: {{ printf "%s:%s" .Values.imageVersions.apicurioRegistryApp.repository .Values.imageVersions.apicurioRegistryApp.tag | quote }}
  ui: {{ printf "%s:%s" .Values.imageVersions.apicurioRegistryUi.repository .Values.imageVersions.apicurioRegistryUi.tag | quote }}
  gitOpsSync: {{ printf "%s:%s" .Values.imageVersions.apicurioRegistryGitopsSync.repository .Values.imageVersions.apicurioRegistryGitopsSync.tag | quote }}
